.navbar.navbar-default
  .container
    = link_to "Blocmarks", "#", class: "navbar-brand"
    %ul.nav.navbar-nav
      %li.active
        = link_to "Home", root_path   
      - if current_user
        %li.navbar-right
          = link_to "Sign out", destroy_user_session_path, method: :delete
      - else  
        %li.navbar-right
          = link_to "Sign in", new_user_session_path