.container
  .jumbotron.text-center
    %h1
      Blocmarks
    %p.lead
      Blocmarks is an application that allows you to share bookmarked web-pages with your friends and the world.
    %p
      = link_to "Sign up", new_user_registration_path, class: "btn btn-large btn-success"










