.inner-cover
  %h1.cover-heading
    Blocmarks
  %p.lead
    Blocmarks is an application that allows you to hsare bookmarked web-pages with your friends and the world.
  %p.lead
    = link_to "Sign up", new_user_registration_path, class: "btn btn-large btn-default"
